.guide-banner{
  background-image: url('https://walkingpadassets.s3.us-east-1.amazonaws.com/images/treadmills/treadmillbg.jpg');
  background-repeat: no-repeat;
  background-position: bottom !important;
}